---
import Layout from "../../../layouts/main.astro";

import {
  languages,
  getLanguage,
  defaultLanguage,
  type Language,
} from "../../../i18n";

export function getStaticPaths() {
  return [...languages, undefined].map((lang) => {
    return { params: { lang } };
  });
}

const lang = (Astro.params.lang as Language | undefined) ?? defaultLanguage;
const t = getLanguage(lang);
---

{["en"].includes(lang) && <style set:html="@page { size: 3.61in 2.11in; }" />}
{["de"].includes(lang) && <style set:html="@page { size: 85mm 58mm; }" />}

<Layout
  title={t["meta.card.back.title"]}
  description={t["meta.card.description"]}
  image="https://mbund.dev/images/headshot.jpg"
>
  <div class="slice"></div>
</Layout>

<style>
  @page {
    orientation: landscape;
    margin: 0;
  }

  @media print {
    * {
      print-color-adjust: exact;
    }
  }

  .slice {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    @apply bg-gradient-to-l from-orange-600 to-rose-600;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 100%);
  }
</style>
