---
import Layout from "~/layouts/main.astro";

const today = new Date();
const title = `${today.getFullYear()}-${today.getMonth() + 1}-${today.getDate()}-mark-bundschuh-resume-backend.pdf`;
---

<Layout title={title}>
  <div class="flex flex-col items-center">
    <h1 class="text-3xl">Mark Bundschuh</h1>

    <h2 class="font-mono">
      <a href={`https://mbund.dev/?utm_source=resume`}>mbund.dev</a>
      |
      <a href={`mailto:mark@mbund.dev`}>mark@mbund.dev</a>
      |
      <a href={`https://linkedin.com/in/mark-bundschuh`}
        >linkedin.com/in/mark-bundschuh</a
      >
      |
      <a href={`https://github.com/mbund`}>github.com/mbund</a>
      |
      <span>Columbus, Ohio</span>
    </h2>
  </div>

  <div class="wrapper flex flex-col">
    <h1 class="title">Education</h1>
    <hr class="separator" />
    <div class="wrapper flex flex-col gap-2">
      <div>
        <h2 class="flex justify-between">
          <span class="header">The Ohio State University</span>
          <span>August 2022 - December 2025</span>
        </h2>
        <p>B.S. Computer Science and Engineering, 3.8 GPA</p>
        <p>
          Relavent Courses: <span class="font-bold"
            >Data Structures and Algorithms, Database Systems, Computer
            Architecture</span
          >
        </p>
      </div>
    </div>
  </div>

  <h1 class="title">Professional Experience</h1>
  <hr class="separator" />
  <div class="wrapper flex flex-col gap-2">
    <div>
      <h2 class="flex justify-between">
        <span class="header">American Greetings Corporation</span>
        <span>June 2024 - August 2024</span>
      </h2>
      <h2 class="flex justify-between">
        <em>Software Engineering Intern</em>
        <span>Cleveland, Ohio</span>
      </h2>
      <ul class="ml-8 list-disc">
        <li>
          Incrementally rewrote legacy <strong>JavaScript</strong> codebase into
          <strong>accessible Vue.js</strong> components, greatly improving maintainability
          and allowed the development team to fearlessly add new features.
        </li>
        <li>
          Retooled <strong>Vite</strong> build system to fix long-standing bugs and
          added plugins to save developer time.
        </li>
        <li>
          Thoroughly component tested with <strong>Vitest</strong>, and
          end-to-end tested with <strong>Playwright</strong>, saving the Quality
          Assurance team's time on manual regression testing and making the
          release cycle faster and more reliable.
        </li>
      </ul>
    </div>
    <div>
      <h2 class="flex justify-between">
        <span class="header">Kudu Dynamics LLC</span>
        <span>June 2023 - August 2023</span>
      </h2>
      <h2 class="flex justify-between">
        <em>Software Engineering Intern</em>
        <span>Columbus, Ohio</span>
      </h2>
      <ul class="ml-8 list-disc">
        <li>
          Developed VSCode extension in <strong>TypeScript</strong> to triage
          <strong>Linux kernel</strong> bugs faster for a DARPA (U.S. research agency)
          effort.
        </li>
        <li>
          Automated kernel building pipelines with <strong>Python</strong> and <strong
            >bash</strong
          > with flexible configuration, packaged in <strong>Docker</strong>.
          Allowed security engineers to skip tedious build steps and instead
          focus on finding exploits.
        </li>
      </ul>
    </div>
    <div>
      <h2 class="flex justify-between">
        <span class="header">INSIGMA IT Engineering GmbH</span>
        <span>June 2021 - August 2021</span>
      </h2>
      <h2 class="flex justify-between">
        <em>Software Engineering Intern</em>
        <span>Remote</span>
      </h2>
      <ul class="ml-8 list-disc">
        <li>
          Greatly improved maintainability by porting contracting automotive
          dealership's internal site from Visual Basic to <strong
            >C# ASP.NET</strong
          > for customer service representatives to look up information while on
          the phone.
        </li>
        <li>
          Created highly interactive and filterable dashboards with <strong
            >TypeScript</strong
          >, <strong>CSS</strong>, and <strong>MS SQL Server</strong>
          for reps to quickly find information.
        </li>
      </ul>
    </div>
  </div>

  <h1 class="title">Leadership Experience</h1>
  <hr class="separator" />
  <div class="wrapper flex flex-col gap-2">
    <div>
      <h2 class="flex justify-between">
        <span class="header">Ohio State Cybersecurity Club</span>
        <span>January 2023 - Present</span>
      </h2>
      <h2 class="flex justify-between">
        <em>President</em>
      </h2>
      <ul class="ml-8 list-disc">
        <li>
          Mentored students in hacking techniques for <strong
            >CTF (capture the flag)</strong
          > competitions, and using <strong>AWS</strong> efficiently to save on costs.
        </li>
        <!-- <li>
          Competed at RIT's ISTS 2023 & 2024 Attack/Defense competition, and in
          CyberSpace CTF 2024, DiceCTF 2023 & 2024, UofTCTF 2024, CSAW CTF 2022
          & 2023, UIUCTF 2022, 2023 & 2024, Hack-A-Sat 3 & 4, WolvCTF 2023,
          BuckeyeCTF 2022, and PicoCTF 2021 & 2022
        </li> -->
        <li>
          Competed at ISTS 2023 & 2024 Attack/Defense competition, in CSAW CTF
          '22 & '23, Hack-A-Sat 3 & 4, and PicoCTF 2021 & 2022.
        </li>
        <li>
          Host BuckeyeCTF yearly, a competition where last year hosted <strong
            >over 600 teams worldwide</strong
          > online, and over 90 in person players. Solved technical issues and kept
          <strong>99.9% uptime on over 40 services</strong> on <strong
            >AWS</strong
          > using <strong>Terraform</strong>. Coordinated with <strong
            >7 sponsors, including 2 Fortune 500 and other local companies</strong
          > to provide funding and prizes.
        </li>
      </ul>
    </div>
  </div>

  <h1 class="title">Skills</h1>
  <hr class="separator" />
  <div class="grid grid-cols-[max-content_1fr] gap-x-4">
    <h2>Programming Languages:</h2>
    <strong
      >TypeScript, JavaScript, Rust, C, C++, Python, C#, Java, HTML, CSS</strong
    >
    <h2>Frameworks & Libraries:</h2>
    <strong>Node.js, Vue.js, Vitest, Playwright, Svelte, TailwindCSS</strong>
    <h2>Tools:</h2>
    <strong>AWS, Docker, Git, Kubernetes, Terraform, Linux, NixOS, Jira</strong>
  </div>

  <h1 class="title">Personal Projects</h1>
  <hr class="separator" />
  <div class="wrapper flex flex-col gap-2">
    <div class="project">
      <h2 class="flex justify-between">
        <span class="header">Cybersecurity Training Platform</span>
        <a class="font-mono" href="https://rhombus.gg">rhombus.gg</a>
      </h2>
      <ul class="ml-8 list-disc">
        <li>
          Easy to deploy Jeopardy style online competition platform for hosting
          CTF (capture the flag) events, capable of serving <strong
            >tens of thousands of requests per second</strong
          >. Written in <strong>Rust</strong> and <strong>SQL</strong> on backend,
          and styled with <strong>TailwindCSS</strong>.
        </li>
        <li>
          Integrated with many technologies like file uploads to <strong
            >AWS S3</strong
          >, <strong>email sending and receiving</strong>, and <strong
            >OAuth2</strong
          > sign in.
        </li>
      </ul>
    </div>

    <div class="project">
      <h2 class="flex justify-between">
        <span class="header">Running Servers at Home</span>
        <a class="font-mono" href="https://github.com/mbund/homelab">
          github.com/mbund/homelab
        </a>
      </h2>
      <ul class="ml-8 list-disc">
        <li>
          Recycled hardware to host services such as Bitwarden and Nextcloud at
          home, managed with <strong>Kubernetes</strong> and <strong
            >ArgoCD</strong
          >, monitored with <strong>Prometheus</strong> and
          <strong>Grafana</strong>, <strong>Nginx</strong> as the reverse proxy,
          and <strong>HashiCorp Vault</strong> for secret management.
        </li>
        <li>
          Practiced backup and <strong>disaster recovery</strong> with automated
          offsite cloud backups.
        </li>
      </ul>
    </div>

    <div class="project">
      <h2 class="flex justify-between">
        <span class="header">Service Health Check Language</span>
        <a class="font-mono" href="https://github.com/rhombusgg/healthscript">
          github.com/rhombusgg/healthscript
        </a>
      </h2>
      <ul class="ml-8 list-disc">
        <li>
          Concise <strong>DSL (domain specific language)</strong> for writing health
          checks for services, written in <strong>Rust</strong> using parser combinators,
          and published to <a href="https://crates.io/crates/healthscript"
            ><strong>crates.io</strong></a
          > as an <strong>open source library</strong> and <strong
            >CLI (command line interface program)</strong
          >.
        </li>
        <li>
          Hosted <strong>cloud service</strong> available to run scripts in the language
          and provide "healthy" or "unhealthy" badges as status.
        </li>
      </ul>
    </div>

    <div class="project">
      <h2 class="flex justify-between">
        <span class="header">Technical Blog</span>
        <a class="font-mono" href="https://mbund.dev/?utm_source=resume"
          >mbund.dev</a
        >
      </h2>
      <ul class="ml-8 list-disc">
        <li>
          Personal technical blog where I write in depth about my ideas,
          experiences, and projects.
        </li>
      </ul>
    </div>

    <div class="project">
      <h2 class="flex justify-between">
        <span class="header">Canvas CLI</span>
        <a class="font-mono" href="https://github.com/mbund/canvas-cli">
          github.com/mbund/canvas-cli
        </a>
      </h2>
      <ul class="ml-8 list-disc">
        <li>
          Interactive command line interface tool for automating common tasks as
          a student in OSU's learning management system using official <strong
            >REST</strong
          > APIs
        </li>
        <li>
          Compatibile with any institution's Canvas LMS instance. Cross platform
          single binary made with <strong>Rust</strong>.
        </li>
      </ul>
    </div>

    <div class="project">
      <h2 class="flex justify-between">
        <span class="header">OSU Authentication Provider</span>
        <span class="font-mono">WIP</span>
      </h2>
      <ul class="ml-8 list-disc">
        <li>
          Built an easy to use <strong>authentication provider</strong> to allow
          OSU students to have a "Sign in with OSU" option during hackathons and
          student organization usage using <strong>OAuth2</strong>.
        </li>
        <li>
          Integrated strong <strong>access control</strong> policies to allow students
          to revoke authorized apps and restrict information scopes.
        </li>
        <li>
          Fast <strong>Jamstack</strong> app with <strong>Go</strong> backend and
          statically rendered <strong>Svelte</strong> frontend.
        </li>
      </ul>
    </div>
  </div>
</Layout>

<style lang="postcss">
  html {
    font-size: 9.4pt;
    margin: 0.25in;
  }

  .title {
    @apply text-lg mt-2;
  }

  .separator {
    @apply mb-2 h-[1px] border-0 bg-black;
  }

  li {
    list-style-type: "- ";
  }

  @media print {
    @page {
      orientation: portait;
      size: Letter;
      margin: 0.25in;
    }

    html {
      margin: 0;
    }

    * {
      print-color-adjust: exact;
    }

    div:not(.wrapper) {
      break-inside: avoid;
    }

    .pagebreak {
      clear: both;
      page-break-after: always;
    }
  }
</style>
