---
import { Icon } from "astro-icon";

import Layout from "~/layouts/main.astro";
---

<Layout
  title="Mark Bundschuh - Software Developer"
  description="Computer Science and Engineering Student at the Ohio State University. Interested in web development, system administration, and bleeding edge technology."
  image="https://mbund.dev/images/headshot.jpg"
>
  <div class="flex flex-col items-center h-screen justify-center">
    <img src="/images/headshot.jpg" class="rounded-full w-48 m-2" />
    <h1 class="text-4xl mb-8">Mark Bundschuh</h1>

    <div class="max-w-prose px-6 text-center">
      Computer Science and Engineering Student at the Ohio State University.
      Interested in web development, system administration, and bleeding edge
      technology.
    </div>

    <div class="absolute bottom-0 w-full flex justify-center p-4">
      <a href="https://github.com/mbund" class="inline-flex items-center mr-2">
        <Icon name="mdi:github" class="h-8 mr-1" />
        <span class="hidden md:block">GitHub</span>
      </a>
      <a
        href="https://www.linkedin.com/in/mark-bundschuh-18a27a26a"
        class="inline-flex items-center mr-2"
      >
        <Icon name="mdi:linkedin" class="h-8 mr-1" />
        <span class="hidden md:block">LinkedIn</span>
      </a>
      <a
        href="mailto:bundschuhmark@gmail.com"
        class="inline-flex items-center mr-2"
      >
        <Icon name="mdi:email-outline" class="h-8 mr-1" />
        <span class="hidden md:block">Email</span>
      </a>
    </div>
  </div>
</Layout>
