<div class="bg-red-200 flex flex-col items-center h-screen justify-center">
    <h1 class="text-4xl">Mark Bundschuh</h1>
    <div class="py-4"></div>

    <div class="max-w-prose px-6 text-center">
        Computer Science and Engineering Student at the Ohio State University.
        Interested in cybersecurity, web development, system administration, and bleeding edge technology.
    </div>
</div>
