---
import CopyItem from "./CopyItem.astro";
import LinkItem from "./LinkItem.astro";

const gpgKey = `
_____BEGIN PGP PUBLIC KEY BLOCK_____

mDMEY0yXPhYJKwYBBAHaRw8BAQdAiMtK43RPyGZYQfLUJDIKsuuPLFcpeYSLTY4W
/rYen760H01hcmsgQnVuZHNjaHVoIDxtYXJrQG1idW5kLm9yZz6IkwQTFgoAOxYh
BDFI1TGh8vjh09dKvOZsJp20z8wIBQJjTJc+AhsDBQsJCAcCAiICBhUKCQgLAgQW
AgMBAh4HAheAAAoJEOZsJp20z8wI1OwA/04PEXJI6lEdEm5zAxIsoQN/t0s9ohwL
dEJpPTJ8i4BlAQCG8NGDvV8L2m2Fi6j584VHjECra6lwZwwwDYtUo3n5CLg4BGNM
lz4SCisGAQQBl1UBBQEBB0CRH5VujFsA6zV9zjqxPrWPOOUPFbYF+f3IB65YI2I/
XwMBCAeIeAQYFgoAIBYhBDFI1TGh8vjh09dKvOZsJp20z8wIBQJjTJc+AhsMAAoJ
EOZsJp20z8wIkEcA/jois8rEXzfkMIk3ZPJVBd+aWRl/trpCa3Iae/hbNAgnAP9R
/0aLxUa8QwoazO+t5edy0AqwcdM4gtZqjW8i/ff5DA==
=zOcB
_____END PGP PUBLIC KEY BLOCK_____
`
	.trim()
	.replaceAll("_", "-"); // astro linter gets mad by any three "-" so replace them
---

<div class="bg-lime-100 flex flex-col items-center h-screen justify-center">
	<h1 class="text-2xl">Where am I?</h1>
	<div class="py-4"></div>

	<LinkItem
		icon="ic:outline-email"
		info="mark@mbund.org"
		url="mailto:mark@mbund.org"
	/>
	<CopyItem
		icon="akar-icons:key"
		info="3148D531A1F2F8E1D3D74ABCE66C269DB4CFCC08"
		copy={gpgKey}
	/>
	<!-- <CopyItem icon="cib:matrix" info="" copy="" /> -->
	<LinkItem
		icon="bi:git"
		info="git.mbund.org/mbund"
		url="https://git.mbund.org/mbund"
	/>
	<!-- <CopyItem icon="cib:monero" info="wallet address" copy="" /> -->
	<!-- <div class="py-6"></div> -->
	<!-- <LinkItem icon="bi:github" info="mbund" url="https://github.com/mbund" /> -->
	<!-- <CopyItem icon="bi:discord" info="" copy="" /> -->
</div>
