---
import { Icon } from "astro-icon";

export interface Props {
    info: string;
    icon: string;
    copy: string;
}

const { info, icon, copy } = Astro.props;
---

<button
    id={`copy-button-${info}`}
    class="ml-8 mb-5 pr-8 relative flex flex-col justify-center group"
    data-tooltip-target="tooltip-default"
>
    <Icon name={icon} class="absolute -left-11 w-8" />
    <code
        class="bg-gray-700 transition group-hover:bg-gray-500 text-gray-200 px-4 py-2 rounded relative flex"
    >
        {info}
    </code>
    <Icon
        name="clarity:copy-to-clipboard-line"
        class="absolute -right-2 w-8 transition-opacity opacity-0 group-hover:opacity-100 group-focus:opacity-100"
    />
</button>

<script defer define:vars={{ info, copy }}>
    const copyButton = document.getElementById(`copy-button-${info}`);
    copyButton.addEventListener("click", () => {
        navigator.clipboard.writeText(copy);
    });
</script>
