---
import { Icon } from "astro-icon";

const { title, description } = Astro.props;
---

<div class="rounded border-2 flex flex-col p-2 gap-1">
  <div class="flex justify-between">
    <div class="flex items-center">
      <Icon name="ic:outline-bookmark-border" class="h-6 mr-1" />
      <p class="text-base font-medium">{title}</p>
    </div>
    <div class="flex items-center flex-row justify-end">
      <slot />
    </div>
  </div>
  <p class="text-sm">{description}</p>
</div>
