---
import { Icon } from "astro-icon";
---

<div
	class="bg-amber-100 relative flex flex-col items-center h-screen justify-center"
>
	<h1 class="text-2xl">Self-host all the things!</h1>
	<div class="py-4"></div>

	<div class="flex">
		<a href="https://docs.mbund.org">
			<Icon name="akar-icons:book" class="w-8 mx-4" />
		</a>
		<a href="https://git.mbund.org">
			<Icon name="cib:gitea" class="w-8 mx-4" />
		</a>
		<a href="https://search.mbund.org">
			<Icon name="akar-icons:search" class="w-8 mx-4" />
		</a>
		<a href="https://nextcloud.mbund.org">
			<Icon name="cib:nextcloud" class="w-8 mx-4" />
		</a>
	</div>

	<Icon name="akar-icons:plus" class="w-10 mt-4 mb-6" />

	<div class="flex">
		<!-- <a href="https://github.com/matrix-org/dendrite">
			<Icon name="simple-icons:element" class="w-8 mx-4" />
		</a> -->
		<a href="https://github.com/dani-garcia/vaultwarden">
			<Icon name="simple-icons:bitwarden" class="w-8 mx-4" />
		</a>
		<a href="https://docker-mailserver.github.io/docker-mailserver/edge/">
			<Icon name="ic:outline-email" class="w-8 mx-4" />
		</a>
	</div>

	<div class="absolute bottom-0 w-full flex justify-center p-4">
		...and of course&nbsp;<a
			href="https://git.mbund.org/mbund/site"
			class="underline">this website</a
		>!
	</div>
</div>
