---
import Icon from "astro-icon";

interface Props {
  icon: string;
  href?: string;
}

const { icon, href: site } = Astro.props;
---

<a href={site} class="inline-flex items-center mr-2">
  <Icon name={icon} class="h-5 mr-1" />
  <slot />
</a>
